@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
    font-family: 'Roboto', sans-serif;
}
body {
    --hue: var(--hue-neutral);

    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 15%);
}
body.correct {
    --hue: var(--hue-correct);
}
body.wrong {
    --hue: var(--hue-wrong);
}
.container {
    width: 600px;
    max-width: 70%;
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px 4px;
}
#question {
    font-size: 1.9rem;
    padding: 10px 0 10px 0;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}
.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 100%);
    background-color: hsl(var(--hue), 100%, 37%);
    padding: 7px 10px;
    color: white;
    border-radius: 5px;
    font-size: 1.4rem;
    outline: black;
}
.btn:hover {
    border-color: black;
}
.btn.correct {
    --hue: var(--hue-correct);
}
.btn.wrong {
    --hue: var(--hue-wrong);
}
.start-btn, .next-btn {
    font-size: 1.75rem;
    font-weight: bold;
    padding: 10px 20px;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}