@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
}

body {
    --background-col: #091820;
    --background-color: linear-gradient( hsl(201, 56%, 8%), hsl(201, 93%, 7%));
    --span-one-background-color: #0c2936;
    --text-color: #ffffff;
    --allclear-color: hsl(339, 98%, 52%);
    --equals-color: hsl(202, 100%, 50%);
    --border-color: rgba(0, 0, 0, 0.1);
    --output-background-color: hsl(0, 0%, 100%); 
    --hover-background-color: hsl(103, 100%, 57%);
    --hover-text-color: #000000;
    --box-shadow-color: #000000;
    --hover-toggle-button-color: linear-gradient(to bottom right, hsl(267, 40%, 54%), hsl(297, 35%, 66%));
    --hover-toggle-button-text-color: #000000;

    padding: 0;
    margin: 0;
   
   background-image: var(--background-color);
}
body.light {
    --background-color: linear-gradient(to bottom right, hsl(267, 40%, 58%), hsl(297, 35%, 69%));
    --span-one-background-color: hsl(271, 44%, 83%);
    --text-color: #000000;
    --allclear-color: hsl(267, 40%, 57%);
    --equals-color: hsl(297, 35%, 48%);
    --border-color: rgba(202, 184, 224, 1);
    --output-background-color: #ffffff;
    --hover-background-color: #2A0944;
    --hover-text-color: #ffffff;
    --box-shadow-color: #272727;
    --hover-toggle-button-color: linear-gradient(hsl(201, 56%, 8%), hsl(201, 93%, 9%));
    --hover-toggle-button-text-color: #ffffff;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
}
.calculator-grid > button {
    cursor: pointer;
    font-size: 1.9rem;
    border: 1px solid var(--border-color);
    outline: none;
    color: var(--text-color);
}
.calculator-grid > button:hover {
    background-color: var(--hover-background-color);
    color: var(--hover-text-color);
}
.equal {
    background-color: var(--equals-color);
}
.all-clear {
    background-color: var(--allclear-color);
}
.span-two {
    grid-column: span 2;
}
.span-one {
   /* background-color: #0c2835;*/

    background-color: var(--span-one-background-color);
}

.output {
    grid-column: 1 / -1;
    background-color: var(--output-background-color);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand {
    color: rgba(0, 0, 0, 0.75);
    font-size: 1.5rem;
}
.output .current-operand {
    color: rgba(0, 0, 0, 0.75);
    font-size: 2.5rem;
}
.theme-toggle-button {
    background-image: var(--background-color);
    color: var(--text-color);
    box-shadow: 5px 6px 10px var(--box-shadow-color);
    height: 2.3rem;
    width: 9.4rem;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px;
    justify-content: center;
    text-align: center;
}
.theme-toggle-button:hover {
    background-image: var(--hover-toggle-button-color);   
    color: var(--hover-toggle-button-text-color);
}
